/* . {
  background-color: rgb(139, 127, 13);
} */

/* . {
  border: 1px solid red;
} */

@font-face {
  font-family: FontsTitles;
  src: url('../fonts/RaspoutineDemiBold_TB.otf');
}

.slide {
  visibility: hidden;
}

.selected {
  background-color: var(--color-sec);
  visibility: visible;

}

.control-dots {
  background-color: var(--color-sec);
}

.details_container {
  background-color: var(--color-third);
}

.details_title_container {
  background-color: var(--color-third);
  display: flex;
  font-family: FontsTitles , sans-serif;
  justify-content: space-evenly;
  padding: 8px 12px 0;
}

.details_category {
  background-color: var(--color-third);
  color: var(--color-text-sec);
  font-family: FontsTitles , sans-serif;
  padding: 0 12px 8px;
  width: 360px;
}

.details_img {
  max-height: 360px;
  width: 100vw;
}

.details_title {
  font-size: 20px;
  width: 250px;
}

.details_btn {
  background-color: rgba(255, 196, 0, 0);
  border-style: none;
}

.details_btn:hover {
  color: red;
  transform: translateY(-4px);
}

.details_btn:focus {
  color: red;
}

.details_icon {
  background-color: rgba(255, 196, 0, 0);
}

.details_icon_checked {
  color: red;
}

.details_extra {
  background-color: var(--color-main);
  border-radius: 16px 16px 0 0;
}

.details_ingredients_container {
  background-color: var(--color-main);
  border-radius: 16px 16px 0 0;
  padding: 8px 12px;
}

.details_instructions {
  background-color: var(--color-main);
  border-radius: 0;
  padding: 8px 12px;
}

.details_recommendation_container {
  margin-bottom: 32px;
}

.details_recommendation_title {
  background-color: var(--color-sec);
  font-family: FontsTitles , sans-serif;
  font-size: 20px;
}

.details_start_recipe_btn {
  background-color: var(--color-accent);
  border-radius: 0 8px 0 0;
  border-style: none;
  bottom: 0;
  color: var(--color-main);
  font-family: FontsTitles , sans-serif;
  height: 32px;
  position: fixed;
  width: 120px;
}
