/* border: 1px solid red; */

@font-face {
  font-family: FontsTitles;
  src: url('../fonts/RaspoutineDemiBold_TB.otf');
}

.footer {
  align-items: center;
  background-color: var(--color-sec);
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 4px 16px 8px;
  position: fixed;
  width: 100%;
}

.footer_btn {
  background-color: rgba(255, 196, 0, 0);
  border-radius: 50px;
  border-style: none;
}

.footer_btn:hover {
  background-color: var(--color-accent);
  color: var(--color-main);
  padding: 4px;
}

.footer_btn:active {
  transform: translateY(4px);
}
