/* border: 1px solid red; */

@font-face {
  font-family: FontsTitles;
  src: url('../fonts/RaspoutineDemiBold_TB.otf');
}

h3 {
  align-items: center;
  color: var(--color-forth);
  display: flex;
  font-family: FontsTitles , sans-serif;
  justify-content: center;
  padding-top: 8px;
  width: 300px;
}

.header {
  align-items: center;
  background-color: var(--color-sec);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 12px;
  width: 100%;
}

.header_btn {
  background-color: rgba(255, 234, 167, 0);
  border-radius: 50px;
  border-style: none;
}

.header_btn:hover {
  background-color: var(--color-accent);
  color: var(--color-main);
  padding: 4px;
}

.header_btn:active {
  transform: translateY(4px);
}
